@import url('https://fonts.googleapis.com/css2?family=Climate+Crisis&family=League+Spartan:wght@700&family=Poppins:wght@600;700;900&family=Work+Sans:wght@600&display=swap');
* {
    padding: 0;
    margin: 0;
    scroll-behavior: smooth;
}

body {
    background-color: #b9d6f2;
    color: #000000;
    font-family: 'Work Sans';
}

#navbar {
    height: 15%;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    color: #000000;
    position: fixed;
    background-color: #6c93b6;
    z-index: 100;
}

#main-logo {
    font-size: 2rem;
}

#main-navbar a{
    margin-right: 80px;
    text-decoration: none;
    color: #000000;
    font-size: 1.2vw;
}

#main-navbar a:active {
    color: #FFFFFF;
    text-decoration: underline;
}

#main-navbar a:hover {
    cursor: pointer;
    color: #FFFFFF;
}

.content{
    height: 100vh;
    display: flex;
    justify-content:center;
    align-items:center;
}

.home-content {
    height: 80%;
    width: 80%;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.home-message h3 {
    font-size: 3rem;
}

.home-message h1 {
    font-size: 4rem;
    font-family: 'Climate Crisis';
    width: 100%;
}

.next-button {
    position: relative;
    font-size: 3rem;
}

.next-button p{
    font-size: 1rem;
    font-weight: bold;
}

.next-button i:hover {
    cursor: pointer;
    transform: rotate(90deg);
    transition-duration: 0.5s;
}

.about {
    height: 100vh;
    width: 100%;
    text-align: center;
    font-family: 'Climate Crisis';
    padding-top: 10%;
}

.about-content {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 7%;
}

.about-img img{
    height: 85%;
    width: 50%;
    background-size: cover;
}

.about-para {
    text-align: left;
    font-family: 'Work Sans';
    margin-right: 10%;
    line-height: 2;
}

.experience {
    height: 100vh;
    width: 100%;
    text-align: center;
    line-height: 2;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 10%;
}

.experience-heading {
    margin-bottom: 2%;
    font-family: 'Climate Crisis';
}

.experience-box{
    background-color: #FFFFFF;
    height: 60%;
    width: 70%;
    font-family: 'Work Sans';
    border-radius: 40px;
}

.experience-box hr {
    width: 80%;
    margin: 0px auto 4% auto;
    border: 2px solid;
}

.contact {
    height: 80vh;
    width: 100%;
    text-align: center;
    padding-top: 10%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.contact-heading {
    font-family: 'Climate Crisis'
}

.contact-content {
    height: 90%;
    width: 90%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 2%;
    font-family: 'Work Sans';
}

.watsapp-chat {
    height: 50%;
    width: 20%;
    background-color: #FFFFF0;
    line-height: 2;
    border-radius: 30px;
}

.watsapp-chat i {
    font-size: 4rem;
    cursor: pointer;
    margin-top: 15%;
}

.resume {
    height: 50%;
    width: 20%;
    background-color: #FFFFF0;
    line-height: 2;
    border-radius: 30px;
}

.resume button {
    background-color: #FFFFF0;
    border-radius: 10px;
    font-size: 2rem;
    margin-top: 15%;
    padding: 2%;
    cursor: pointer;
}

.resume i{
    font-size: 2rem;
}

.social-media {
    height: 50%;
    width: 20%;
    background-color: #FFFFF0;
    line-height: 2;
    border-radius: 30px;
}

.social-media i {
    font-size: 2rem;
    margin-right: 3%;
    cursor: pointer;
    margin-top: 4%;
}

.contact-content h2{
    padding-top: 7%;
}

